/* Reset */
/* line 2, ../sass/_reset.scss */
body, html, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul, ol, li, dialog, dl, dt, dd, form, a, fieldset, input, th, td, header, footer, article, section, nav, menu, main, hgroup, aside {
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
  list-style-type: none;
}

/* line 3, ../sass/_reset.scss */
:focus {
  outline: 0;
}

/* line 3, ../sass/_reset.scss */
a:link, a:active, a:hover, a:visited {
  text-decoration: none;
}

/* Native Elements */
/* line 6, ../sass/_reset.scss */
img {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  -ms-interpolation-mode: bicubic;
}

/* HTML5 */
/* line 9, ../sass/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, site {
  display: block;
}

/* line 10, ../sass/_reset.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 11, ../sass/_reset.scss */
audio:not([controls]) {
  display: none;
}

/* Debug */
/* line 14, ../sass/_reset.scss */
.debug {
  outline: solid 1px red;
}

/* line 15, ../sass/_reset.scss */
.debug-background {
  background: rgba(255, 0, 0, 0.2) !important;
}

/* Cross Browser Inline-Block */
/* Typography */
/*
200: light
400: regular
700: bold
800: extrabold
900: black
*/
/* Fonts */
/* Global */
/* line 47, ../sass/_styles.scss */
html {
  font-size: 18px;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
}

@media only screen and (min-width: 0px) and (max-width: 599px) {
  /* line 55, ../sass/_styles.scss */
  html {
    font-size: 16px;
  }
}
/* line 60, ../sass/_styles.scss */
body {
  font-family: "korolev",Helvetica, Arial, Sans-Serif;
  font-size: 100%;
  font-weight: 300;
  line-height: 20px;
  overflow: scroll;
  overflow-y: scroll;
  overflow-x: hidden;
  word-wrap: break-word;
  -moz-osx-font-smoothing: grayscale;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  -o-hyphens: none;
  hyphens: none;
}
@media (-webkit-min-device-pixel-ratio: 1) {
  /* line 60, ../sass/_styles.scss */
  body {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-font-smoothing: subpixel-antialiased;
    -ms-font-smoothing: subpixel-antialiased;
    -o-font-smoothing: subpixel-antialiased;
    font-smoothing: subpixel-antialiased;
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* line 60, ../sass/_styles.scss */
  body {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
  }
}

@media only screen and (min-width: 0px) and (max-width: 1000px) {
  /* line 81, ../sass/_styles.scss */
  body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* Retina-specific body weights & smoothing */
  /* line 88, ../sass/_styles.scss */
  body {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
  }
}
/* Headlines */
/* line 94, ../sass/_styles.scss */
h1, h2, h3, h4, h5, h6, .header-1, .header-2, .header-3, .header-4, .header-5, .header-6 {
  font-weight: 400;
  word-wrap: normal;
}
/* line 98, ../sass/_styles.scss */
h1.upper, h2.upper, h3.upper, h4.upper, h5.upper, h6.upper, .header-1.upper, .header-2.upper, .header-3.upper, .header-4.upper, .header-5.upper, .header-6.upper {
  text-transform: uppercase;
}
/* line 102, ../sass/_styles.scss */
h1.lower, h2.lower, h3.lower, h4.lower, h5.lower, h6.lower, .header-1.lower, .header-2.lower, .header-3.lower, .header-4.lower, .header-5.lower, .header-6.lower {
  text-transform: lowercase;
}
/* line 106, ../sass/_styles.scss */
h1.capitalize, h2.capitalize, h3.capitalize, h4.capitalize, h5.capitalize, h6.capitalize, .header-1.capitalize, .header-2.capitalize, .header-3.capitalize, .header-4.capitalize, .header-5.capitalize, .header-6.capitalize {
  text-transform: capitalize;
}
/* line 110, ../sass/_styles.scss */
h1.light, h2.light, h3.light, h4.light, h5.light, h6.light, .header-1.light, .header-2.light, .header-3.light, .header-4.light, .header-5.light, .header-6.light {
  font-weight: normal;
}
/* line 114, ../sass/_styles.scss */
h1.blue, h2.blue, h3.blue, h4.blue, h5.blue, h6.blue, .header-1.blue, .header-2.blue, .header-3.blue, .header-4.blue, .header-5.blue, .header-6.blue {
  color: #58aecc;
}
/* line 118, ../sass/_styles.scss */
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span, .header-1 span, .header-2 span, .header-3 span, .header-4 span, .header-5 span, .header-6 span {
  color: #58aecc;
  display: block;
}

/* line 125, ../sass/_styles.scss */
h1, .header-1 {
  color: #666666;
  font-size: 48px;
  line-height: 44px;
  text-transform: uppercase;
}
/* line 131, ../sass/_styles.scss */
h1.display, .header-1.display {
  font-size: 68px;
  font-weight: bold;
  letter-spacing: -0.02em;
  line-height: 60px;
  position: relative;
  left: -2px;
}
/* line 140, ../sass/_styles.scss */
h1 a, .header-1 a {
  color: #a4a4a4;
}
/* line 143, ../sass/_styles.scss */
h1 a:hover, .header-1 a:hover {
  color: #a4a4a4;
}

/* line 149, ../sass/_styles.scss */
h2, .header-2 {
  color: #666666;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}
/* line 156, ../sass/_styles.scss */
h2.normal, .header-2.normal {
  font-weight: 400;
  text-transform: none;
}

/* line 162, ../sass/_styles.scss */
h3, .header-3 {
  color: #666666;
  font-size: 24px;
  font-weight: 900;
  line-height: 30px;
  margin: 0;
  text-transform: uppercase;
}

/* line 171, ../sass/_styles.scss */
h4, .header-4 {
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
}

/* line 177, ../sass/_styles.scss */
h5, .header-5 {
  font-size: 12px;
  line-height: 14px;
  text-decoration: none;
  text-transform: uppercase;
}

/* line 184, ../sass/_styles.scss */
h6, .header-6 {
  font-size: 9px;
  line-height: 12px;
  text-decoration: none;
  text-transform: uppercase;
}

/* Hyperlinks */
/* line 193, ../sass/_styles.scss */
a {
  color: #58aecc;
  cursor: pointer;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
/* line 199, ../sass/_styles.scss */
a.underline {
  text-decoration: underline;
}
/* line 203, ../sass/_styles.scss */
a:hover {
  color: #2c2c2c;
}

/* Paragraphs */
/* line 211, ../sass/_styles.scss */
p {
  hyphenate: auto;
  hyphenate-lines: 3;
  margin: 20px 0;
  letter-spacing: -0.020em;
  word-spacing: 0.025em;
  word-wrap: normal;
  /* Mozilla based browsers */
  /* Works in Safari */
}
/* line 220, ../sass/_styles.scss */
p::-moz-selection {
  background-color: #b4d5fe;
  color: #222;
}
/* line 226, ../sass/_styles.scss */
p::selection {
  background-color: #b4d5fe;
  color: #222;
}
/* line 231, ../sass/_styles.scss */
p.lg {
  color: #666666;
  font-size: 48px;
  font-weight: 100;
  line-height: 72px;
  padding: 50px 0;
}
@media only screen and (min-width: 0px) and (max-width: 599px) {
  /* line 231, ../sass/_styles.scss */
  p.lg {
    font-size: 24px;
    line-height: 36px;
    padding: 20px 0;
  }
}
/* line 245, ../sass/_styles.scss */
p.md {
  color: #707070;
  font-size: 36px;
  font-weight: 100;
  line-height: 60px;
  padding: 50px 0;
}
@media only screen and (min-width: 0px) and (max-width: 599px) {
  /* line 245, ../sass/_styles.scss */
  p.md {
    font-size: 18px;
    line-height: 24px;
    padding: 20px 0;
  }
}
/* line 259, ../sass/_styles.scss */
p.sm {
  font-size: 16px;
  line-height: 20px;
}
/* line 264, ../sass/_styles.scss */
p.xs {
  font-size: 12px;
  line-height: 15px;
}
/* line 269, ../sass/_styles.scss */
p:before, p:after {
  content: "";
  display: block;
  height: 0px;
  margin: 0;
}
/* line 277, ../sass/_styles.scss */
p.short:empty {
  display: block;
}
/* line 280, ../sass/_styles.scss */
p.short:empty:before {
  content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. In cursus justo sit amet purus bibendum, a tincidunt magna ullamcorper.";
  display: block;
  height: auto;
}
/* line 287, ../sass/_styles.scss */
p.medium:empty {
  display: block;
}
/* line 290, ../sass/_styles.scss */
p.medium:empty:before {
  content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. In cursus justo sit amet purus bibendum, a tincidunt magna ullamcorper. Aliquam erat volutpat. Donec id varius tortor, eu semper enim. Nulla dictum et turpis a congue. Vivamus vel justo eget ex tincidunt efficitur non quis tellus.";
  display: block;
  height: auto;
}
/* line 297, ../sass/_styles.scss */
p.long:empty {
  display: block;
}
/* line 300, ../sass/_styles.scss */
p.long:empty:before {
  content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. In cursus justo sit amet purus bibendum, a tincidunt magna ullamcorper. Aliquam erat volutpat. Donec id varius tortor, eu semper enim. Nulla dictum et turpis a congue. Vivamus vel justo eget ex tincidunt efficitur non quis tellus. Mauris ornare bibendum ex, at maximus diam porttitor quis. Nam fermentum massa in imperdiet vestibulum. Curabitur mattis lectus efficitur dignissim tempor.";
  display: block;
  height: auto;
}
/* line 307, ../sass/_styles.scss */
p a:not(.btn) {
  margin: -.5em;
  padding: .5em;
  position: relative;
}

/* line 314, ../sass/_styles.scss */
.hint,
.mouse {
  color: #d9d9d9;
  font-size: 14px;
  line-height: 20px;
  font-weight: light;
  -webkit-font-smoothing: subpixel-antialiased;
  font-smoothing: subpixel-antialiased;
}

/* line 324, ../sass/_styles.scss */
b, strong, caption, th, thead, dt, legend {
  font-weight: 'bold';
}

/* Lists */
/* line 330, ../sass/_styles.scss */
ul, ol {
  margin: 20px 0 20px 16px;
}
/* line 333, ../sass/_styles.scss */
ul li, ol li {
  list-style: disc outside;
}
/* line 337, ../sass/_styles.scss */
ul ol, ul ul, ol ol, ol ul {
  margin: 0 0 0 20px;
}

/* line 343, ../sass/_styles.scss */
ol li {
  list-style: decimal outside;
}

/* Icons */
/* line 3, ../sass/_helpers.scss */
.mobile, .tablet {
  display: none !important;
}

/* line 5, ../sass/_helpers.scss */
.desktop, .huge {
  display: block;
}

@media only screen and (min-width: 0px) and (max-width: 599px) {
  /* line 8, ../sass/_helpers.scss */
  .mobile {
    display: block !important;
  }

  /* line 12, ../sass/_helpers.scss */
  .desktop, .huge {
    display: none !important;
    outline: solid 1px red;
  }
}
/* line 18, ../sass/_helpers.scss */
.portrait,
.landscape {
  display: none;
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  /* line 24, ../sass/_helpers.scss */
  .tablet {
    display: block;
  }
}
@media only screen and (min-width: 600px) and (max-width: 899px) {
  /* line 30, ../sass/_helpers.scss */
  .portrait {
    display: block;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1024px) {
  /* line 36, ../sass/_helpers.scss */
  .landscape {
    display: block;
  }
}
/* line 42, ../sass/_helpers.scss */
.float.left {
  float: left;
}
/* line 43, ../sass/_helpers.scss */
.float.right {
  float: right;
}

/* Helps keep content together when placed next to a floating object - Never define a height with this class */
/* line 47, ../sass/_helpers.scss */
.flow {
  overflow: hidden;
}

/* Adds scrolling functionality on touch devices to overflowing elements */
/* line 50, ../sass/_helpers.scss */
.touchscroll {
  overflow: scroll;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  -moz-overflow-scrolling: touch;
  -ms-overflow-scrolling: touch;
  -o-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

/* line 51, ../sass/_helpers.scss */
.touchswipe {
  overflow: scroll;
  overflow-y: hidden;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  -moz-overflow-scrolling: touch;
  -ms-overflow-scrolling: touch;
  -o-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

/* Basic Hide/Show */
/* line 54, ../sass/_helpers.scss */
.hide {
  opacity: 0;
  visibility: hidden;
}

/* Screen Positioning */
/* line 57, ../sass/_helpers.scss */
.fixed {
  position: fixed;
}

/* line 58, ../sass/_helpers.scss */
.absolute {
  position: absolute;
}

/* line 61, ../sass/_helpers.scss */
.bg-white {
  background: #FFFFFF;
}
/* line 62, ../sass/_helpers.scss */
.bg-gray-1 {
  background: #666666;
}
/* line 63, ../sass/_helpers.scss */
.bg-gray-2 {
  background: #a4a4a4;
}
/* line 64, ../sass/_helpers.scss */
.bg-gray-3 {
  background: #d9d9d9;
}
/* line 65, ../sass/_helpers.scss */
.bg-gray-4 {
  background: #efefef;
}
/* line 66, ../sass/_helpers.scss */
.bg-gray-5 {
  background: #f2f2f2;
}

/* line 70, ../sass/_helpers.scss */
.custom-scroll::-webkit-scrollbar {
  width: 15px;
  padding: 5px 10px;
}
/* line 75, ../sass/_helpers.scss */
.custom-scroll::-webkit-scrollbar-button {
  background-color: #f00;
}
/* line 79, ../sass/_helpers.scss */
.custom-scroll::-webkit-scrollbar-corner {
  display: block;
  width: 15px;
  height: 15px;
  background: 0 0;
  background-repeat: no-repeat;
}
/* line 87, ../sass/_helpers.scss */
.custom-scroll::-webkit-scrollbar-corner {
  background-color: #fff;
}
/* line 91, ../sass/_helpers.scss */
.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #2c2c2c;
  -webkit-background-clip: content-box;
  -webkit-background-clip: content;
  -moz-background-clip: content;
  background-clip: content-box;
  border: 5px solid transparent;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -ms-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  transition: background 0.3s ease;
}
/* line 103, ../sass/_helpers.scss */
.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
  background-size: 15px 15px;
}

/* line 110, ../sass/_helpers.scss */
.sticky.active {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
}

/* line 122, ../sass/_helpers.scss */
.fixed.top.left,
.absolute.top.left {
  left: 0;
  top: 0;
}
/* line 123, ../sass/_helpers.scss */
.fixed.top.center,
.absolute.top.center {
  left: 50%;
  top: 0;
  -webkit-transform: translate3d(-50%, 0, 0);
  -moz-transform: translate3d(-50%, 0, 0);
  -ms-transform: translate3d(-50%, 0, 0);
  -o-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
}
/* line 124, ../sass/_helpers.scss */
.fixed.top.right,
.absolute.top.right {
  right: 0;
  top: 0;
}
/* line 128, ../sass/_helpers.scss */
.fixed.middle.left,
.absolute.middle.left {
  left: 0%;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
  -moz-transform: translate3d(0, -50%, 0);
  -ms-transform: translate3d(0, -50%, 0);
  -o-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}
/* line 129, ../sass/_helpers.scss */
.fixed.middle.center,
.absolute.middle.center {
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}
/* line 130, ../sass/_helpers.scss */
.fixed.middle.right,
.absolute.middle.right {
  right: 0%;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
  -moz-transform: translate3d(0, -50%, 0);
  -ms-transform: translate3d(0, -50%, 0);
  -o-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}
/* line 134, ../sass/_helpers.scss */
.fixed.bottom.left,
.absolute.bottom.left {
  left: 0;
  bottom: 0;
}
/* line 135, ../sass/_helpers.scss */
.fixed.bottom.center,
.absolute.bottom.center {
  left: 50%;
  bottom: 0;
  -webkit-transform: translate3d(-50%, 0, 0);
  -moz-transform: translate3d(-50%, 0, 0);
  -ms-transform: translate3d(-50%, 0, 0);
  -o-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
}
/* line 136, ../sass/_helpers.scss */
.fixed.bottom.right,
.absolute.bottom.right {
  right: 0;
  bottom: 0;
}

/* Cross Browsers Inline Block */
/* line 141, ../sass/_helpers.scss */
.inline-block {
  display: inline-block;
  /* For normal, healthy browsers */
}
/* line 61, ../sass/_mixins.scss */
* html .inline-block {
  /* for IE6 */
  display: inline;
}
/* line 65, ../sass/_mixins.scss */
* + html .inline-block {
  /* for IE7 */
  display: inline;
}

/* Editable Elements */
/* line 144, ../sass/_helpers.scss */
.editable {
  color: light(5);
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
  -moz-line-break: after-white-space;
  -ms-line-break: after-white-space;
  -o-line-break: after-white-space;
  line-break: after-white-space;
  -webkit-user-modify: read-write;
  -moz-user-modify: read-write;
  -ms-user-modify: read-write;
  -o-user-modify: read-write;
  user-modify: read-write;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 151, ../sass/_helpers.scss */
.editable:focus {
  color: #2c2c2c;
}
/* line 155, ../sass/_helpers.scss */
.editable.active {
  color: #2c2c2c;
}

/* line 160, ../sass/_helpers.scss */
[contenteditable="true"] *:not(td) {
  color: #2c2c2c;
  resize: none;
  word-wrap: break-word;
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  -o-user-select: auto;
  user-select: auto;
}
/* line 166, ../sass/_helpers.scss */
[contenteditable="true"] *:not(td):empty {
  color: rgba(44, 44, 44, 0.4);
  display: block;
}
/* line 169, ../sass/_helpers.scss */
[contenteditable="true"] *:not(td):empty:before {
  content: attr(placeholder);
  display: block;
}

/* line 176, ../sass/_helpers.scss */
[contenteditable="true"] .invert * {
  color: #FFFFFF;
}
/* line 179, ../sass/_helpers.scss */
[contenteditable="true"] .invert *:empty {
  color: rgba(255, 255, 255, 0.6);
  display: block;
}
/* line 182, ../sass/_helpers.scss */
[contenteditable="true"] .invert *:empty:before {
  content: attr(placeholder);
  display: block;
}
/* line 189, ../sass/_helpers.scss */
[contenteditable="true"] .invert * span:empty {
  color: rgba(255, 255, 255, 0.6);
  display: inline-block;
  /* For normal, healthy browsers */
}
/* line 61, ../sass/_mixins.scss */
* html [contenteditable="true"] .invert * span:empty {
  /* for IE6 */
  display: inline;
}
/* line 65, ../sass/_mixins.scss */
* + html [contenteditable="true"] .invert * span:empty {
  /* for IE7 */
  display: inline;
}
/* line 192, ../sass/_helpers.scss */
[contenteditable="true"] .invert * span:empty:before {
  content: attr(placeholder);
  display: inline-block;
  /* For normal, healthy browsers */
}
/* line 61, ../sass/_mixins.scss */
* html [contenteditable="true"] .invert * span:empty:before {
  /* for IE6 */
  display: inline;
}
/* line 65, ../sass/_mixins.scss */
* + html [contenteditable="true"] .invert * span:empty:before {
  /* for IE7 */
  display: inline;
}

/* line 202, ../sass/_helpers.scss */
.debug .editable:hover {
  background: rgba(0, 174, 239, 0.05);
}
/* line 206, ../sass/_helpers.scss */
.debug .editable:focus {
  background: rgba(0, 174, 239, 0.05);
}

/* Defining Set Levels of Depth */
/* line 213, ../sass/_helpers.scss */
.level-6 {
  z-index: 999999;
}

/* line 214, ../sass/_helpers.scss */
.level-5 {
  z-index: 99999;
}

/* line 215, ../sass/_helpers.scss */
.level-4 {
  z-index: 9999;
}

/* line 216, ../sass/_helpers.scss */
.level-3 {
  z-index: 999;
}

/* line 217, ../sass/_helpers.scss */
.level-2 {
  z-index: 99;
}

/* line 218, ../sass/_helpers.scss */
.level-1 {
  z-index: 9;
}

/* General Text Alignment */
/* line 221, ../sass/_helpers.scss */
.text-center {
  text-align: center;
}

/* line 222, ../sass/_helpers.scss */
.text-left {
  text-align: left;
}

/* line 223, ../sass/_helpers.scss */
.text-right {
  text-align: right;
}

/* Text Transformations */
/* line 226, ../sass/_helpers.scss */
.upper {
  text-transform: uppercase;
}

/* line 227, ../sass/_helpers.scss */
.lower {
  text-transform: lowercase;
}

/* line 228, ../sass/_helpers.scss */
.caps {
  text-transform: capitalize;
}

/* Rotate Element */
/* line 231, ../sass/_helpers.scss */
.rotate-45 {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 232, ../sass/_helpers.scss */
.rotate-90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* line 233, ../sass/_helpers.scss */
.rotate-180 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* line 235, ../sass/_helpers.scss */
.resize {
  border: solid 1px gray(4);
  cursor: col-resize;
  resize: horizontal;
}

/* line 237, ../sass/_helpers.scss */
.width5 {
  width: 5%;
}

/* line 238, ../sass/_helpers.scss */
.width10 {
  width: 10%;
}

/* line 239, ../sass/_helpers.scss */
.width15 {
  width: 15%;
}

/* line 240, ../sass/_helpers.scss */
.width20 {
  width: 20%;
}

/* line 241, ../sass/_helpers.scss */
.width25 {
  width: 25%;
}

/* line 242, ../sass/_helpers.scss */
.width30 {
  width: 30%;
}

/* line 243, ../sass/_helpers.scss */
.width35 {
  width: 35%;
}

/* line 244, ../sass/_helpers.scss */
.width40 {
  width: 40%;
}

/* line 245, ../sass/_helpers.scss */
.width45 {
  width: 45%;
}

/* line 246, ../sass/_helpers.scss */
.width50 {
  width: 50%;
}

/* line 247, ../sass/_helpers.scss */
.width55 {
  width: 55%;
}

/* line 248, ../sass/_helpers.scss */
.width60 {
  width: 60%;
}

/* line 249, ../sass/_helpers.scss */
.width65 {
  width: 65%;
}

/* line 250, ../sass/_helpers.scss */
.width70 {
  width: 70%;
}

/* line 251, ../sass/_helpers.scss */
.width75 {
  width: 75%;
}

/* line 252, ../sass/_helpers.scss */
.width80 {
  width: 80%;
}

/* line 253, ../sass/_helpers.scss */
.width85 {
  width: 85%;
}

/* line 254, ../sass/_helpers.scss */
.width90 {
  width: 90%;
}

/* line 255, ../sass/_helpers.scss */
.width95 {
  width: 95%;
}

/* line 1, ../sass/_layout.scss */
.container, .container-sm, .container-md, .container-lg, .container-xl, .container-full {
  padding: 0;
  position: relative;
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 9, ../sass/_layout.scss */
.container-sm {
  max-width: 600px;
}
/* line 10, ../sass/_layout.scss */
.container-md {
  max-width: 900px;
}
/* line 11, ../sass/_layout.scss */
.container-lg {
  max-width: 1200px;
}
/* line 12, ../sass/_layout.scss */
.container-xl {
  max-width: 1280px;
}
/* line 13, ../sass/_layout.scss */
.container-full {
  max-width: 100%;
}

/* Global Grid Styles */
/* line 17, ../sass/_layout.scss */
div[class^='col-'] {
  display: inline-block;
  /* For normal, healthy browsers */
  float: left;
  padding: 0 15px;
  position: relative;
  z-index: 9;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 61, ../sass/_mixins.scss */
* html div[class^='col-'] {
  /* for IE6 */
  display: inline;
}
/* line 65, ../sass/_mixins.scss */
* + html div[class^='col-'] {
  /* for IE7 */
  display: inline;
}

/* line 27, ../sass/_layout.scss */
.row {
  clear: both;
  margin-left: -15px;
  margin-right: -15px;
}
@media only screen and (min-width: 0px) and (max-width: 599px) {
  /* line 27, ../sass/_layout.scss */
  .row {
    margin-left: 0;
    margin-right: 0;
  }
}
@media only screen and (min-width: 600px) and (max-width: 899px) {
  /* line 27, ../sass/_layout.scss */
  .row {
    margin-left: 0;
    margin-right: 0;
  }
}

/* line 45, ../sass/_layout.scss */
.col-lg-1 {
  width: 8.33333333%;
}
/* line 46, ../sass/_layout.scss */
.col-lg-2 {
  width: 16.66666667%;
}
/* line 47, ../sass/_layout.scss */
.col-lg-2_5 {
  width: 20%;
}
/* line 48, ../sass/_layout.scss */
.col-lg-3 {
  width: 25%;
}
/* line 49, ../sass/_layout.scss */
.col-lg-4 {
  width: 33.33333333%;
}
/* line 50, ../sass/_layout.scss */
.col-lg-5 {
  width: 41.66666667%;
}
/* line 51, ../sass/_layout.scss */
.col-lg-6 {
  width: 50%;
}
/* line 52, ../sass/_layout.scss */
.col-lg-7 {
  width: 58.33333333%;
}
/* line 53, ../sass/_layout.scss */
.col-lg-8 {
  width: 66.66666667%;
}
/* line 54, ../sass/_layout.scss */
.col-lg-9 {
  width: 75%;
}
/* line 55, ../sass/_layout.scss */
.col-lg-10 {
  width: 83.33333333%;
}
/* line 56, ../sass/_layout.scss */
.col-lg-11 {
  width: 91.66666667%;
}
/* line 57, ../sass/_layout.scss */
.col-lg-12 {
  width: 100%;
}
/* line 60, ../sass/_layout.scss */
.col-lg-push-1 {
  left: 8.33333333%;
}
/* line 61, ../sass/_layout.scss */
.col-lg-push-2 {
  left: 16.66666667%;
}
/* line 62, ../sass/_layout.scss */
.col-lg-push-2_5 {
  left: 20%;
}
/* line 63, ../sass/_layout.scss */
.col-lg-push-3 {
  left: 25%;
}
/* line 64, ../sass/_layout.scss */
.col-lg-push-4 {
  left: 33.33333333%;
}
/* line 65, ../sass/_layout.scss */
.col-lg-push-5 {
  left: 41.66666667%;
}
/* line 66, ../sass/_layout.scss */
.col-lg-push-6 {
  left: 50%;
}
/* line 67, ../sass/_layout.scss */
.col-lg-push-7 {
  left: 58.33333333%;
}
/* line 68, ../sass/_layout.scss */
.col-lg-push-8 {
  left: 66.66666667%;
}
/* line 69, ../sass/_layout.scss */
.col-lg-push-9 {
  left: 75%;
}
/* line 70, ../sass/_layout.scss */
.col-lg-push-10 {
  left: 83.33333333%;
}
/* line 71, ../sass/_layout.scss */
.col-lg-push-11 {
  left: 91.66666667%;
}
/* line 72, ../sass/_layout.scss */
.col-lg-push-12 {
  left: 100%;
}
@media only screen and (min-width: 0px) and (max-width: 599px) {
  /* line 75, ../sass/_layout.scss */
  .col-lg-push-1, .col-lg-push-2, .col-lg-push-3, .col-lg-push-4, .col-lg-push-5, .col-lg-push-6, .col-lg-push-7, .col-lg-push-8, .col-lg-push-9, .col-lg-push-10, .col-lg-push-11, .col-lg-push-12 {
    left: 0;
  }
}
/* line 91, ../sass/_layout.scss */
.col-lg-pull-1 {
  right: 8.33333333%;
}
/* line 92, ../sass/_layout.scss */
.col-lg-pull-2 {
  right: 16.66666667%;
}
/* line 93, ../sass/_layout.scss */
.col-lg-pull-2_5 {
  right: 20%;
}
/* line 94, ../sass/_layout.scss */
.col-lg-pull-3 {
  right: 25%;
}
/* line 95, ../sass/_layout.scss */
.col-lg-pull-4 {
  right: 33.33333333%;
}
/* line 96, ../sass/_layout.scss */
.col-lg-pull-5 {
  right: 41.66666667%;
}
/* line 97, ../sass/_layout.scss */
.col-lg-pull-6 {
  right: 50%;
}
/* line 98, ../sass/_layout.scss */
.col-lg-pull-7 {
  right: 58.33333333%;
}
/* line 99, ../sass/_layout.scss */
.col-lg-pull-8 {
  right: 66.66666667%;
}
/* line 100, ../sass/_layout.scss */
.col-lg-pull-9 {
  right: 75%;
}
/* line 101, ../sass/_layout.scss */
.col-lg-pull-10 {
  right: 83.33333333%;
}
/* line 102, ../sass/_layout.scss */
.col-lg-pull-11 {
  right: 91.66666667%;
}
/* line 103, ../sass/_layout.scss */
.col-lg-pull-12 {
  right: 100%;
}
@media only screen and (min-width: 0px) and (max-width: 599px) {
  /* line 106, ../sass/_layout.scss */
  .col-lg-pull-1, .col-lg-pull-2, .col-lg-pull-3, .col-lg-pull-4, .col-lg-pull-5, .col-lg-pull-6, .col-lg-pull-7, .col-lg-pull-8, .col-lg-pull-9, .col-lg-pull-10, .col-lg-pull-11, .col-lg-pull-12 {
    right: 0;
  }
}
/* line 122, ../sass/_layout.scss */
.col-lg-offset-12 {
  margin-left: 100%;
}
/* line 123, ../sass/_layout.scss */
.col-lg-offset-11 {
  margin-left: 91.66666667%;
}
/* line 124, ../sass/_layout.scss */
.col-lg-offset-10 {
  margin-left: 83.33333333%;
}
/* line 125, ../sass/_layout.scss */
.col-lg-offset-9 {
  margin-left: 75%;
}
/* line 126, ../sass/_layout.scss */
.col-lg-offset-8 {
  margin-left: 66.66666667%;
}
/* line 127, ../sass/_layout.scss */
.col-lg-offset-7 {
  margin-left: 58.33333333%;
}
/* line 128, ../sass/_layout.scss */
.col-lg-offset-6 {
  margin-left: 50%;
}
/* line 129, ../sass/_layout.scss */
.col-lg-offset-5 {
  margin-left: 41.66666667%;
}
/* line 130, ../sass/_layout.scss */
.col-lg-offset-4 {
  margin-left: 33.33333333%;
}
/* line 131, ../sass/_layout.scss */
.col-lg-offset-3 {
  margin-left: 25%;
}
/* line 132, ../sass/_layout.scss */
.col-lg-offset-2_5 {
  margin-left: 20%;
}
/* line 133, ../sass/_layout.scss */
.col-lg-offset-2 {
  margin-left: 16.66666667%;
}
/* line 134, ../sass/_layout.scss */
.col-lg-offset-1 {
  margin-left: 8.33333333%;
}
/* line 135, ../sass/_layout.scss */
.col-lg-offset-0 {
  margin-left: 0;
}
@media only screen and (min-width: 900px) and (max-width: 1024px) {
  /* line 140, ../sass/_layout.scss */
  .col-md-1 {
    width: 8.33333333%;
  }
  /* line 141, ../sass/_layout.scss */
  .col-md-2 {
    width: 16.66666667%;
  }
  /* line 142, ../sass/_layout.scss */
  .col-md-3 {
    width: 25%;
  }
  /* line 143, ../sass/_layout.scss */
  .col-md-4 {
    width: 33.33333333%;
  }
  /* line 144, ../sass/_layout.scss */
  .col-md-5 {
    width: 41.66666667%;
  }
  /* line 145, ../sass/_layout.scss */
  .col-md-6 {
    width: 50%;
  }
  /* line 146, ../sass/_layout.scss */
  .col-md-7 {
    width: 58.33333333%;
  }
  /* line 147, ../sass/_layout.scss */
  .col-md-8 {
    width: 66.66666667%;
  }
  /* line 148, ../sass/_layout.scss */
  .col-md-9 {
    width: 75%;
  }
  /* line 149, ../sass/_layout.scss */
  .col-md-10 {
    width: 83.33333333%;
  }
  /* line 150, ../sass/_layout.scss */
  .col-md-11 {
    width: 91.66666667%;
  }
  /* line 151, ../sass/_layout.scss */
  .col-md-12 {
    width: 100%;
  }
  /* line 154, ../sass/_layout.scss */
  .col-md-push-1 {
    left: 8.33333333%;
  }
  /* line 155, ../sass/_layout.scss */
  .col-md-push-2 {
    left: 16.66666667%;
  }
  /* line 156, ../sass/_layout.scss */
  .col-md-push-3 {
    left: 25%;
  }
  /* line 157, ../sass/_layout.scss */
  .col-md-push-4 {
    left: 33.33333333%;
  }
  /* line 158, ../sass/_layout.scss */
  .col-md-push-5 {
    left: 41.66666667%;
  }
  /* line 159, ../sass/_layout.scss */
  .col-md-push-6 {
    left: 50%;
  }
  /* line 160, ../sass/_layout.scss */
  .col-md-push-7 {
    left: 58.33333333%;
  }
  /* line 161, ../sass/_layout.scss */
  .col-md-push-8 {
    left: 66.66666667%;
  }
  /* line 162, ../sass/_layout.scss */
  .col-md-push-9 {
    left: 75%;
  }
  /* line 163, ../sass/_layout.scss */
  .col-md-push-10 {
    left: 83.33333333%;
  }
  /* line 164, ../sass/_layout.scss */
  .col-md-push-11 {
    left: 91.66666667%;
  }
  /* line 165, ../sass/_layout.scss */
  .col-md-push-12 {
    left: 100%;
  }
  /* line 169, ../sass/_layout.scss */
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  /* line 170, ../sass/_layout.scss */
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  /* line 171, ../sass/_layout.scss */
  .col-md-pull-3 {
    right: 25%;
  }
  /* line 172, ../sass/_layout.scss */
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  /* line 173, ../sass/_layout.scss */
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  /* line 174, ../sass/_layout.scss */
  .col-md-pull-6 {
    right: 50%;
  }
  /* line 175, ../sass/_layout.scss */
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  /* line 176, ../sass/_layout.scss */
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  /* line 177, ../sass/_layout.scss */
  .col-md-pull-9 {
    right: 75%;
  }
  /* line 178, ../sass/_layout.scss */
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  /* line 179, ../sass/_layout.scss */
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  /* line 180, ../sass/_layout.scss */
  .col-md-pull-12 {
    right: 100%;
  }
  /* line 184, ../sass/_layout.scss */
  .col-md-offset-12 {
    margin-left: 100%;
  }
  /* line 185, ../sass/_layout.scss */
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  /* line 186, ../sass/_layout.scss */
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  /* line 187, ../sass/_layout.scss */
  .col-md-offset-9 {
    margin-left: 75%;
  }
  /* line 188, ../sass/_layout.scss */
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  /* line 189, ../sass/_layout.scss */
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  /* line 190, ../sass/_layout.scss */
  .col-md-offset-6 {
    margin-left: 50%;
  }
  /* line 191, ../sass/_layout.scss */
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  /* line 192, ../sass/_layout.scss */
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  /* line 193, ../sass/_layout.scss */
  .col-md-offset-3 {
    margin-left: 25%;
  }
  /* line 194, ../sass/_layout.scss */
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  /* line 195, ../sass/_layout.scss */
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  /* line 196, ../sass/_layout.scss */
  .col-md-offset-0 {
    margin-left: 0;
  }
}
@media only screen and (min-width: 0px) and (max-width: 599px) {
  /* line 202, ../sass/_layout.scss */
  .col-sm-1 {
    width: 8.33333333%;
  }
  /* line 203, ../sass/_layout.scss */
  .col-sm-2 {
    width: 16.66666667%;
  }
  /* line 204, ../sass/_layout.scss */
  .col-sm-3 {
    width: 25%;
  }
  /* line 205, ../sass/_layout.scss */
  .col-sm-4 {
    width: 33.33333333%;
  }
  /* line 206, ../sass/_layout.scss */
  .col-sm-5 {
    width: 41.66666667%;
  }
  /* line 207, ../sass/_layout.scss */
  .col-sm-6 {
    width: 50%;
  }
  /* line 208, ../sass/_layout.scss */
  .col-sm-7 {
    width: 58.33333333%;
  }
  /* line 209, ../sass/_layout.scss */
  .col-sm-8 {
    width: 66.66666667%;
  }
  /* line 210, ../sass/_layout.scss */
  .col-sm-9 {
    width: 75%;
  }
  /* line 211, ../sass/_layout.scss */
  .col-sm-10 {
    width: 83.33333333%;
  }
  /* line 212, ../sass/_layout.scss */
  .col-sm-11 {
    width: 91.66666667%;
  }
  /* line 213, ../sass/_layout.scss */
  .col-sm-12 {
    width: 100%;
  }
  /* line 216, ../sass/_layout.scss */
  .col-sm-push-1, .col-sm-push-2, .col-sm-push-3, .col-sm-push-4, .col-sm-push-5, .col-sm-push-6, .col-sm-push-7, .col-sm-push-8, .col-sm-push-9, .col-sm-push-10, .col-sm-push-11, .col-sm-push-12 {
    left: 0;
    outline: solid 3px red;
  }
  /* line 231, ../sass/_layout.scss */
  .col-sm-pull-1, .col-sm-pull-2, .col-sm-pull-3, .col-sm-pull-4, .col-sm-pull-5, .col-sm-pull-6, .col-sm-pull-7, .col-sm-pull-8, .col-sm-pull-9, .col-sm-pull-10, .col-sm-pull-11, .col-sm-pull-12 {
    right: 0;
  }
  /* line 246, ../sass/_layout.scss */
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  /* line 247, ../sass/_layout.scss */
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  /* line 248, ../sass/_layout.scss */
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  /* line 249, ../sass/_layout.scss */
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  /* line 250, ../sass/_layout.scss */
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  /* line 251, ../sass/_layout.scss */
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  /* line 252, ../sass/_layout.scss */
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  /* line 253, ../sass/_layout.scss */
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  /* line 254, ../sass/_layout.scss */
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  /* line 255, ../sass/_layout.scss */
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  /* line 256, ../sass/_layout.scss */
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  /* line 257, ../sass/_layout.scss */
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  /* line 258, ../sass/_layout.scss */
  .col-sm-offset-0 {
    margin-left: 0;
  }
}
@media only screen and (min-width: 0px) and (max-width: 599px) {
  /* line 264, ../sass/_layout.scss */
  .col-xs-1 {
    width: 8.33333333%;
  }
  /* line 265, ../sass/_layout.scss */
  .col-xs-2 {
    width: 16.66666667%;
  }
  /* line 266, ../sass/_layout.scss */
  .col-xs-3 {
    width: 25%;
  }
  /* line 267, ../sass/_layout.scss */
  .col-xs-4 {
    width: 33.33333333%;
  }
  /* line 268, ../sass/_layout.scss */
  .col-xs-5 {
    width: 41.66666667%;
  }
  /* line 269, ../sass/_layout.scss */
  .col-xs-6 {
    width: 50%;
  }
  /* line 270, ../sass/_layout.scss */
  .col-xs-7 {
    width: 58.33333333%;
  }
  /* line 271, ../sass/_layout.scss */
  .col-xs-8 {
    width: 66.66666667%;
  }
  /* line 272, ../sass/_layout.scss */
  .col-xs-9 {
    width: 75%;
  }
  /* line 273, ../sass/_layout.scss */
  .col-xs-10 {
    width: 83.33333333%;
  }
  /* line 274, ../sass/_layout.scss */
  .col-xs-11 {
    width: 91.66666667%;
  }
  /* line 275, ../sass/_layout.scss */
  .col-xs-12 {
    width: 100%;
  }
  /* line 278, ../sass/_layout.scss */
  .col-xs-push-1, .col-xs-push-2, .col-xs-push-3, .col-xs-push-4, .col-xs-push-5, .col-xs-push-6, .col-xs-push-7, .col-xs-push-8, .col-xs-push-9, .col-xs-push-10, .col-xs-push-11, .col-xs-push-12 {
    left: 0;
  }
  /* line 293, ../sass/_layout.scss */
  .col-xs-pull-1, .col-xs-pull-2, .col-xs-pull-3, .col-xs-pull-4, .col-xs-pull-5, .col-xs-pull-6, .col-xs-pull-7, .col-xs-pull-8, .col-xs-pull-9, .col-xs-pull-10, .col-xs-pull-11, .col-xs-pull-12 {
    right: 0;
  }
  /* line 308, ../sass/_layout.scss */
  .col-xs-offset-12 {
    margin-left: 100%;
  }
  /* line 309, ../sass/_layout.scss */
  .col-xs-offset-11 {
    margin-left: 91.66666667%;
  }
  /* line 310, ../sass/_layout.scss */
  .col-xs-offset-10 {
    margin-left: 83.33333333%;
  }
  /* line 311, ../sass/_layout.scss */
  .col-xs-offset-9 {
    margin-left: 75%;
  }
  /* line 312, ../sass/_layout.scss */
  .col-xs-offset-8 {
    margin-left: 66.66666667%;
  }
  /* line 313, ../sass/_layout.scss */
  .col-xs-offset-7 {
    margin-left: 58.33333333%;
  }
  /* line 314, ../sass/_layout.scss */
  .col-xs-offset-6 {
    margin-left: 50%;
  }
  /* line 315, ../sass/_layout.scss */
  .col-xs-offset-5 {
    margin-left: 41.66666667%;
  }
  /* line 316, ../sass/_layout.scss */
  .col-xs-offset-4 {
    margin-left: 33.33333333%;
  }
  /* line 317, ../sass/_layout.scss */
  .col-xs-offset-3 {
    margin-left: 25%;
  }
  /* line 318, ../sass/_layout.scss */
  .col-xs-offset-2 {
    margin-left: 16.66666667%;
  }
  /* line 319, ../sass/_layout.scss */
  .col-xs-offset-1 {
    margin-left: 8.33333333%;
  }
  /* line 320, ../sass/_layout.scss */
  .col-xs-offset-0 {
    margin-left: 0;
  }
}

/* Individual Grid width */
/* line 329, ../sass/_layout.scss */
.col-lg-1 {
  width: 100%;
}

/* line 330, ../sass/_layout.scss */
.col-lg-1 {
  width: 50%;
}

/* line 331, ../sass/_layout.scss */
.col-lg-1 {
  width: 33.333%;
}

/* line 332, ../sass/_layout.scss */
.col-lg-1 {
  width: 25%;
}

/* line 333, ../sass/_layout.scss */
.col-lg-1 {
  width: 20%;
}

/* line 334, ../sass/_layout.scss */
.col-lg-1 {
  width: 46.99999999999998%;
}

/* line 335, ../sass/_layout.scss */
.col-lg-1 {
  width: 100%;
}

/* line 336, ../sass/_layout.scss */
.col-lg-1 {
  width: 50%;
}

/* line 337, ../sass/_layout.scss */
.col-lg-1 {
  width: 33.333%;
}

/* line 338, ../sass/_layout.scss */
.col-lg-1 {
  width: 25%;
}

/* line 339, ../sass/_layout.scss */
.col-lg-1 {
  width: 20%;
}

/* line 340, ../sass/_layout.scss */
.col-lg-1 {
  width: 46.99999999999998%;
}

/* line 342, ../sass/_layout.scss */
.left0 {
  padding-left: 0;
}

/* line 343, ../sass/_layout.scss */
.left5 {
  padding-left: 5px;
}

/* line 344, ../sass/_layout.scss */
.left10 {
  padding-left: 10px;
}

/* line 345, ../sass/_layout.scss */
.left20 {
  padding-left: 20px;
}

/* line 346, ../sass/_layout.scss */
.left30 {
  padding-left: 30px;
}

/* line 347, ../sass/_layout.scss */
.left50 {
  padding-left: 50px;
}

/* line 348, ../sass/_layout.scss */
.left100 {
  padding-left: 100px;
}

/* line 350, ../sass/_layout.scss */
.gap1,
.gap2,
.gap3,
.gap4,
.gap5,
.gap6,
.gap7,
.gap8,
.gap9,
.gap10 {
  clear: both;
}

/* line 361, ../sass/_layout.scss */
.gap5 {
  height: 5px;
}

/* line 362, ../sass/_layout.scss */
.gap10 {
  height: 10px;
}

/* line 363, ../sass/_layout.scss */
.gap15 {
  height: 15px;
}

/* line 364, ../sass/_layout.scss */
.gap30 {
  height: 30px;
}

/* line 365, ../sass/_layout.scss */
.gap40 {
  height: 40px;
}

/* line 366, ../sass/_layout.scss */
.gap50 {
  height: 50px;
}

/* line 367, ../sass/_layout.scss */
.gap60 {
  height: 60px;
}

/* line 368, ../sass/_layout.scss */
.gap80 {
  height: 80px;
}

/* line 369, ../sass/_layout.scss */
.gap90 {
  height: 90px;
}

/* line 370, ../sass/_layout.scss */
.gap100 {
  height: 100px;
}

/* line 372, ../sass/_layout.scss */
.bottom5 {
  margin-bottom: 5px;
}

/* line 373, ../sass/_layout.scss */
.bottom10 {
  margin-bottom: 10px;
}

/* line 374, ../sass/_layout.scss */
.bottom15 {
  margin-bottom: 15px;
}

/* line 375, ../sass/_layout.scss */
.bottom30 {
  margin-bottom: 30px;
}

/* line 376, ../sass/_layout.scss */
.bottom50 {
  margin-bottom: 50px;
}

/* line 377, ../sass/_layout.scss */
.bottom80 {
  margin-bottom: 80px;
}

/* line 378, ../sass/_layout.scss */
.bottom100 {
  margin-bottom: 100px;
}

/* line 381, ../sass/_layout.scss */
.width10 {
  width: 10%;
}

/* line 382, ../sass/_layout.scss */
.width20 {
  width: 20%;
}

/* line 383, ../sass/_layout.scss */
.width25 {
  width: 25%;
}

/* line 384, ../sass/_layout.scss */
.width30 {
  width: 30%;
}

/* line 385, ../sass/_layout.scss */
.width40 {
  width: 40%;
}

/* line 386, ../sass/_layout.scss */
.width50 {
  width: 50%;
}

/* line 387, ../sass/_layout.scss */
.width60 {
  width: 60%;
}

/* line 388, ../sass/_layout.scss */
.width70 {
  width: 70%;
}

/* line 389, ../sass/_layout.scss */
.width80 {
  width: 80%;
}

/* line 390, ../sass/_layout.scss */
.width90 {
  width: 90%;
}

/* line 391, ../sass/_layout.scss */
.width100 {
  width: 100%;
}

/* line 394, ../sass/_layout.scss */
.clear {
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
}
/* line 402, ../sass/_layout.scss */
.clear:before, .clear:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
/* line 412, ../sass/_layout.scss */
.clear:after {
  clear: both;
}

/* line 1, ../sass/_elements.scss */
.button {
  background: #fff;
  border: solid 1px #fff;
  border-radius: 40px;
  color: #000;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 38px;
  margin: 0 20px;
  padding: 0 40px;
  text-align: center;
  text-transform: uppercase;
}

/* line 16, ../sass/_elements.scss */
input {
  background: #F4F4F4;
  border: solid 1px #ddd;
  border-radius: 40px;
  display: block;
  font-family: inherit;
  font-size: 16px;
  line-height: 38px;
  padding: 0 20px;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

/* line 1, ../sass/_components.scss */
body {
  background: #F2F2F2;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  padding-top: 100px;
}

/* line 8, ../sass/_components.scss */
* {
  box-sizing: border-box;
}

/* line 10, ../sass/_components.scss */
.header {
  background: #fff;
  height: 80px;
  left: 20px;
  padding: 15px;
  position: fixed;
  right: 20px;
  top: 20px;
}
/* line 19, ../sass/_components.scss */
.header--branding {
  background: url(../img/kindred_conversation.png) no-repeat center center;
  background-size: 200px auto;
  height: 50px;
  width: 200px;
}
/* line 26, ../sass/_components.scss */
.header--container {
  display: flex;
  flex-direction: row;
}
/* line 31, ../sass/_components.scss */
.header--nav {
  margin: -15px 0;
}
/* line 34, ../sass/_components.scss */
.header--nav ul, .header--nav li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 40, ../sass/_components.scss */
.header--nav ul {
  display: flex;
  flex-direction: row;
}
/* line 45, ../sass/_components.scss */
.header--nav ul li a {
  color: #000;
  display: block;
  font-size: 16px;
  font-weight: 600;
  padding: 30px 20px;
}
/* line 56, ../sass/_components.scss */
.header--search {
  margin: -15px 20px;
  padding: 20px 0;
  width: 320px;
}

/* line 63, ../sass/_components.scss */
.footer {
  background: #fff;
  padding-bottom: 100px;
}
/* line 67, ../sass/_components.scss */
.footer--container {
  text-align: center;
}
/* line 71, ../sass/_components.scss */
.footer--contact {
  background: #B3DDEB;
  font-weight: 600;
  padding: 20px;
  text-align: center;
}
/* line 78, ../sass/_components.scss */
.footer--copyright {
  color: #aaa;
  font-size: 14px;
  font-weight: 400;
}
/* line 84, ../sass/_components.scss */
.footer--mark {
  margin: 40px auto 0;
  width: 72px;
}
/* line 89, ../sass/_components.scss */
.footer--nav {
  padding: 20px 0;
}
/* line 92, ../sass/_components.scss */
.footer--nav ul, .footer--nav li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 98, ../sass/_components.scss */
.footer--nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/* line 104, ../sass/_components.scss */
.footer--nav ul li a {
  color: #000;
  display: block;
  font-size: 16px;
  font-weight: 600;
  padding: 30px 20px;
}

/* line 116, ../sass/_components.scss */
.main {
  min-height: 600px;
  padding: 20px;
}
