.container {
	padding:0;
	position:relative;
	max-width:960px;
	width:100%;
	margin:0 auto;
	@include prefix('box-sizing',border-box);
	
	&-sm { @extend .container; max-width:600px; }
	&-md { @extend .container; max-width:900px; }
	&-lg { @extend .container; max-width:1200px; }
	&-xl { @extend .container; max-width:1280px; }
	&-full { @extend .container; max-width:100%; }
}

/* Global Grid Styles */
div[class^='col-'] {
	@include inline-block;
	float: left;
	padding:0 15px;
	position:relative;
	z-index:9;
	
	@include prefix('box-sizing',border-box);
}

.row {
	clear:both;
	margin-left:-15px;
	margin-right:-15px;
	
	@include breakpoint(mobile){
		margin-left:0;
		margin-right:0;
	}
	
	@include breakpoint(portrait){
		margin-left:0;
		margin-right:0;
	}
}

.col {
	&-lg {
		&-1 { width: 8.33333333%; }
		&-2 { width: 16.66666667%; }
		&-2_5 { width: 20%; }
		&-3 { width: 25%; }
		&-4 { width: 33.33333333%; }
		&-5 { width: 41.66666667%; }
		&-6 { width: 50%; }
		&-7 { width: 58.33333333%; }
		&-8 { width: 66.66666667%; }
		&-9 { width: 75%; }
		&-10{ width: 83.33333333%; }
		&-11{ width: 91.66666667%; }
		&-12{ width: 100%; }

		&-push {
			&-1 { left:8.33333333%; }
			&-2 { left:16.66666667%; }
			&-2_5 { left: 20%; }
			&-3 { left:25%; }
			&-4 { left:33.33333333%; }
			&-5 { left:41.66666667%; }
			&-6 { left:50%; }
			&-7 { left:58.33333333%; }
			&-8 { left:66.66666667%; }
			&-9 { left:75%; }
			&-10{ left:83.33333333%; }
			&-11{ left:91.66666667%; }
			&-12{ left:100%; }
			
			@include breakpoint(mobile){
				&-1,
				&-2,
				&-3,
				&-4,
				&-5,
				&-6,
				&-7,
				&-8,
				&-9,
				&-10,
				&-11,
				&-12{ left:0; }
			}
		}

		&-pull {
			&-1 { right:8.33333333%; }
			&-2 { right:16.66666667%; }
			&-2_5 { right: 20%; }
			&-3 { right:25%; }
			&-4 { right:33.33333333%; }
			&-5 { right:41.66666667%; }
			&-6 { right:50%; }
			&-7 { right:58.33333333%; }
			&-8 { right:66.66666667%; }
			&-9 { right:75%; }
			&-10{ right:83.33333333%; }
			&-11{ right:91.66666667%; }
			&-12{ right:100%; } 
			
			@include breakpoint(mobile){
				&-1,
				&-2,
				&-3,
				&-4,
				&-5,
				&-6,
				&-7,
				&-8,
				&-9,
				&-10,
				&-11,
				&-12{ right:0; }
			}
		}

		&-offset {
			&-12{ margin-left:100%;}
			&-11{ margin-left:91.66666667%;}
			&-10{ margin-left:83.33333333%;}
			&-9 { margin-left:75%;}
			&-8 { margin-left:66.66666667%;}
			&-7 { margin-left:58.33333333%;}
			&-6 { margin-left:50%;}
			&-5 { margin-left:41.66666667%;}
			&-4 { margin-left:33.33333333%; }
			&-3 { margin-left:25%; }
			&-2_5 { margin-left: 20%; }
			&-2 { margin-left:16.66666667%; }
			&-1 { margin-left:8.33333333%; }
			&-0 { margin-left:0; }
		}
	}
	@include breakpoint(landscape){ 
		&-md { 
			&-1 { width: 8.33333333%; }
			&-2 { width: 16.66666667%; }
			&-3 { width: 25%; }
			&-4 { width: 33.33333333%; }
			&-5 { width: 41.66666667%; }
			&-6 { width: 50%; }
			&-7 { width: 58.33333333%; }
			&-8 { width: 66.66666667%; }
			&-9 { width: 75%; }
			&-10{ width: 83.33333333%; }
			&-11{ width: 91.66666667%; }
			&-12{ width: 100%; }

			&-push {
				&-1 { left:8.33333333%; }
				&-2 { left:16.66666667%; }
				&-3 { left:25%; }
				&-4 { left:33.33333333%; }
				&-5 { left:41.66666667%; }
				&-6 { left:50%; }
				&-7 { left:58.33333333%; }
				&-8 { left:66.66666667%; }
				&-9 { left:75%; }
				&-10{ left:83.33333333%; }
				&-11{ left:91.66666667%; }
				&-12{ left:100%; }
			}

			&-pull {
				&-1 { right:8.33333333%; }
				&-2 { right:16.66666667%; }
				&-3 { right:25%; }
				&-4 { right:33.33333333%; }
				&-5 { right:41.66666667%; }
				&-6 { right:50%; }
				&-7 { right:58.33333333%; }
				&-8 { right:66.66666667%; }
				&-9 { right:75%; }
				&-10{ right:83.33333333%; }
				&-11{ right:91.66666667%; }
				&-12{ right:100%; }
			}

			&-offset {
				&-12{ margin-left:100%;}
				&-11{ margin-left:91.66666667%;}
				&-10{ margin-left:83.33333333%;}
				&-9 { margin-left:75%;}
				&-8 { margin-left:66.66666667%;}
				&-7 { margin-left:58.33333333%;}
				&-6 { margin-left:50%;}
				&-5 { margin-left:41.66666667%;}
				&-4 { margin-left:33.33333333%; }
				&-3 { margin-left:25%; }
				&-2 { margin-left:16.66666667%; }
				&-1 { margin-left:8.33333333%; }
				&-0 { margin-left:0; }
			}
		}
	}
	@include breakpoint(mobile){ 
		&-sm { 
			&-1 { width: 8.33333333%; }
			&-2 { width: 16.66666667%; }
			&-3 { width: 25%; }
			&-4 { width: 33.33333333%; }
			&-5 { width: 41.66666667%; }
			&-6 { width: 50%; }
			&-7 { width: 58.33333333%; }
			&-8 { width: 66.66666667%; }
			&-9 { width: 75%; }
			&-10{ width: 83.33333333%; }
			&-11{ width: 91.66666667%; }
			&-12{ width: 100%; }

			&-push {
				&-1,
				&-2,
				&-3,
				&-4,
				&-5,
				&-6,
				&-7,
				&-8,
				&-9,
				&-10,
				&-11,
				&-12{ left:0; outline:solid 3px red; }
			}

			&-pull {
				&-1,
				&-2,
				&-3,
				&-4,
				&-5,
				&-6,
				&-7,
				&-8,
				&-9,
				&-10,
				&-11,
				&-12{ right:0; }
			}

			&-offset {
				&-12{ margin-left:100%;}
				&-11{ margin-left:91.66666667%;}
				&-10{ margin-left:83.33333333%;}
				&-9 { margin-left:75%;}
				&-8 { margin-left:66.66666667%;}
				&-7 { margin-left:58.33333333%;}
				&-6 { margin-left:50%;}
				&-5 { margin-left:41.66666667%;}
				&-4 { margin-left:33.33333333%; }
				&-3 { margin-left:25%; }
				&-2 { margin-left:16.66666667%; }
				&-1 { margin-left:8.33333333%; }
				&-0 { margin-left:0; }
			}
		}
	}
	@include breakpoint(mobile){ 
		&-xs { 
			&-1 { width: 8.33333333%; }
			&-2 { width: 16.66666667%; }
			&-3 { width: 25%; }
			&-4 { width: 33.33333333%; }
			&-5 { width: 41.66666667%; }
			&-6 { width: 50%; }
			&-7 { width: 58.33333333%; }
			&-8 { width: 66.66666667%; }
			&-9 { width: 75%; }
			&-10{ width: 83.33333333%; }
			&-11{ width: 91.66666667%; }
			&-12{ width: 100%; }

			&-push {
				&-1,
				&-2,
				&-3,
				&-4,
				&-5,
				&-6,
				&-7,
				&-8,
				&-9,
				&-10,
				&-11,
				&-12{ left:0; }
			}

			&-pull {
				&-1,
				&-2,
				&-3,
				&-4,
				&-5,
				&-6,
				&-7,
				&-8,
				&-9,
				&-10,
				&-11,
				&-12{ right:0; }
			}

			&-offset {
				&-12{ margin-left:100%;}
				&-11{ margin-left:91.66666667%;}
				&-10{ margin-left:83.33333333%;}
				&-9 { margin-left:75%;}
				&-8 { margin-left:66.66666667%;}
				&-7 { margin-left:58.33333333%;}
				&-6 { margin-left:50%;}
				&-5 { margin-left:41.66666667%;}
				&-4 { margin-left:33.33333333%; }
				&-3 { margin-left:25%; }
				&-2 { margin-left:16.66666667%; }
				&-1 { margin-left:8.33333333%; }
				&-0 { margin-left:0; }
			}
		}
	}
}



/* Individual Grid width */
.col-lg-1 { width:100%; }
.col-lg-1 { width:50%; }
.col-lg-1 { width:33.333%; }
.col-lg-1 { width:25%; }
.col-lg-1 { width:20%; }
.col-lg-1 { width:46.99999999999998%; }
.col-lg-1 { width:100%; }
.col-lg-1 { width:50%; }
.col-lg-1 { width:33.333%; }
.col-lg-1 { width:25%; }
.col-lg-1 { width:20%; }
.col-lg-1 { width:46.99999999999998%; }

.left0	{ padding-left:0; }
.left5	{ padding-left:5px; }
.left10	{ padding-left:10px; } 
.left20	{ padding-left:20px; }
.left30	{ padding-left:30px; }
.left50	{ padding-left:50px; }
.left100{ padding-left:100px; }

.gap1,
.gap2,
.gap3,
.gap4,
.gap5,
.gap6,
.gap7,
.gap8,
.gap9,
.gap10 	{ clear:both; }

.gap5 	{ height: 5px; }
.gap10 	{ height: 10px; }
.gap15 	{ height: 15px; }
.gap30 	{ height: 30px; }
.gap40 	{ height: 40px; }
.gap50 	{ height: 50px; }
.gap60 	{ height: 60px; }
.gap80 	{ height: 80px; }
.gap90 	{ height: 90px; }
.gap100	{ height: 100px; }

.bottom5 { margin-bottom:5px; }
.bottom10 { margin-bottom:10px; }
.bottom15 { margin-bottom:15px; }
.bottom30 { margin-bottom:30px; }
.bottom50 { margin-bottom:50px; }
.bottom80 { margin-bottom:80px; }
.bottom100 { margin-bottom:100px; }


.width10 { width:10%; }
.width20 { width:20%; }
.width25 { width:25%; }
.width30 { width:30%; }
.width40 { width:40%; }
.width50 { width:50%; }
.width60 { width:60%; }
.width70 { width:70%; }
.width80 { width:80%; }
.width90 { width:90%; }
.width100 { width:100%; }


.clear {
  	clear: both;
  	display: block;
  	height: 0;
  	overflow: hidden;
  	visibility: hidden;
  	width: 0;

	&:before,
	&:after {
	  content: '\0020';
	  display: block;
	  overflow: hidden;
	  visibility: hidden;
	  width: 0;
	  height: 0;
	}
	
	&:after {
	  clear: both;
	}
}